.card {
    text-align: left;
    flex-grow: 1;

    display: flex;

    gap: 20px;
}
.TOP {
    align-items: flex-end;
    .background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.BOTTOM {
    align-items: flex-start;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.housemateData {
    color: white;
    text-align: center;
}
.housemateData * {
    width: 100%;
}

.cardImg {
    width: 150px;
    height: 150px;
    border-radius: 300px;
    border: 10px solid #64c368;
}

.text {
    margin: 10px auto;
}

.heading {
    margin: 10px auto;
}

@media only screen and (max-width: 768px) {
    .card {
        display: flex;
    }
    .cardImg {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
}
