.left {
    text-align: left;
}
.right {
    text-align: right;
}
.leaderboardItem {
    background-color: aqua;
    height: 40px;
}
.leaderboardItem * {
    display: inline-block;
}

.usersScore {
    background-color: yellow;
}
