.nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.nav * {
    flex-grow: 1;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

.active {
    background: green;
    color: white;
}
