.categoryTitle,
.categoryText {
    padding: 0 15px;
}

.categoryTitle {
    text-align: left;
    font-weight: 600;

    margin-bottom: 5px;
}

.categoryText {
    text-align: left;
    margin: 0;
}
