.open {
    top: 0;
}

.eventDiv {
    height: auto;
    width: 80%;

    border-radius: 40px;

    transition: 1s;
    background-color: #64c368;

    padding-bottom: 30px;
}

.eventDiv img {
    width: 100%;
    height: unset;
    border: unset;
    border-radius: unset;
}
