.open {
    top: 0;
}

.eventDiv {
    width: 80%;

    border-radius: 40px;

    background-color: #64c368;

    padding-bottom: 30px;

    overflow: hidden;
}

.eventDiv img {
    width: 100%;
    height: unset;
    border: unset;
    border-radius: unset;
}
